/* You can add global styles to this file, and also import other style files */

$primary: #1d65ba;
$secondary: #de0031;
$white: #fff;

@use './styles/layouts/body';
@use './styles/layouts/storybook';
@use './styles/layouts/main';


@use '@material/theme' with (
  $primary: $primary,
  $secondary: $secondary,
  $background: $white,
);

@use '@material/elevation/mdc-elevation';
@use '@material/ripple/mdc-ripple';
@use '@material/typography/mdc-typography';

@use './styles/components/button';
@use './styles/components/card';
@use './styles/components/checkbox';
@use './styles/components/chips';
@use './styles/components/datatable';
@use './styles/components/dialog';
@use './styles/components/drawer';
@use './styles/components/fab';
@use './styles/components/form-field';
@use './styles/components/icon';
@use './styles/components/image';
@use './styles/components/linear-progress';
@use './styles/components/list';
@use './styles/components/radio-button';
@use './styles/components/text-field';
@use './styles/components/top-app-bar';
@use './styles/components/select';
@use './styles/components/switch';
@use './styles/components/toast';

@use './styles/modules/security';

@use '@angular-mdc/theme/material';
