/* You can add global styles to this file, and also import other style files */

$primary: #1d65ba;
$secondary: #de0031;
$white: #fff;

@use './styles/layouts/body';
@use './styles/layouts/storybook';


@use '@material/theme' with (
  $primary: $primary,
  $secondary: $secondary,
  $background: $white,
);

@use '@material/elevation/mdc-elevation';
@use '@material/ripple/mdc-ripple';
@use '@material/typography/mdc-typography';

@use './styles/components/button';
@use './styles/components/card';
@use './styles/components/list';
@use './styles/components/datatable';
@use './styles/components/select';

@use '@angular-mdc/theme/material';
