
@use '@material/icon-button/_index' as icon-button;
@use '@material/ripple/_index' as ripple;
@use '@material/theme';

@mixin adjust-icon {
  position: relative;
  top: -5px;
}

.mdc-icon-button {
  .mdi {
    @include adjust-icon;
  }
}

.mdc-tab__icon.mdi {
  @include adjust-icon;
}

.demo-icon-custom-colors {
  $color: orange;

  @include theme.prop(color, $color);
}

.demo-icon-button-custom {
  @include icon-button.ink-color(orange);
  @include ripple.states-base-color(orange);
  @include ripple.states-hover-opacity(.09);
  @include ripple.states-focus-opacity(.26);
  @include ripple.states-press-opacity(.35);
}

.demo-icon-button-primary {
  @include icon-button.ink-color(theme.$primary);
}

.demo-icon-button-secondary {
  @include icon-button.ink-color(theme.$secondary);
}
