
.d-block {
  display: block;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1em !important;
}

.p-2 {
  padding: 2em !important;
}

.px-1 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.pr-1 {
  padding-right: 1em !important;
}

.pl-1 {
  padding-left: 1em !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 1em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.m-2 {
  margin: 2em !important;
}

.mt-0 {
  margin-top: 0 !important;
}
