
.sb-show-main {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/y-so-serious-white.png");
}

.storybook-wrapper {
  max-width: 60vw;
  margin: 10px auto 0 auto;
  height: 100vh;
  overflow: auto;
}
